[Unit]
Description=Yellow Yolk Tasks server
After=network.target

[Service]
User=yashkir
Environment="URL_PREFIX=/yyt"
Environment="PORT=8099"
Environment="PARENT_SITE_NAME='yuriyyashkir.com'"
Environment="PARENT_SITE_PATH='/'"
WorkingDirectory=/home/yashkir/yyt
ExecStart=/usr/bin/yarn run server

[Install]
WantedBy=multi-user.target
