<!DOCTYPE html>
<html>
  <head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>YYT {{title}}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/tasks/">Tasks</a>
    <a href="/login/">Login</a>
    <a href="/logout/">Logout</a>
    <a href="/authtest/">Authentication Test</a>
    {{#if session.username}}<b>User: {{session.username}}</b>{{/if}}
    <hr>
    {{{body}}}
  </body>
</html>
