<!DOCTYPE html>
<html>
  <head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>YYT {{title}}</title>
  </head>
  <body>
    <ul class="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/tasks/">Tasks</a></li>
      <li><a href="/register/">Register</a></li>
      <li><a href="/login/">Login</a></li>
      <li><a href="/logout/">Logout</a></li>
      <li><a href="/authtest/">Authentication Test</a></li>
      {{#if session.username}}<li class="userstatus"><b>User: {{session.username}}</b></li>{{/if}}
    </ul>
    <div class="content">
    {{{body}}}
    </div>
  </body>
</html>
