<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>YYT {{title}}</title>
  </head>
  <body>
    <ul class="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/tasks/">Tasks</a></li>
      {{#if session.username}}
        <li><a href="/manage/"><b>User: {{session.username}}</b></a></li>
        <li><a href="/logout/">Logout</a></li>
      {{else}}
        <li><a href="/register/">Register</a></li>
        <li><a href="/login/">Login</a></li>
      {{/if}}
    </ul>
    <div class="content">
    {{{body}}}
    </div>
  </body>
</html>
