<h1>Delete Account</h1>

<p>Enter your username to confirm deletion. <strong>Deletion is irreversible</strong></p>

<form action="" method="post">
  <label for='username'>Username</label><br>
  <input type='text' id='username' name='username'><br>
  <input type="submit" value="DELETE">
</form>
