<div style="text-align:center">
    <img src="images/egg-small.png" width=110px height=150px>
    <h1>Yellow Yolk Tasks</h1>
</div>
<p>
This is a task/goal manager built using SQLite and Node.js. The server uses the
Express framework with Handlebars for templating.  In the future I aim to
provide easy import/export of todo.txt files and visualization of your tasks.
</p>
<p>Note:
    <em>
    This is a DEVELOPMENT deployment. Guest accounts <b>expire</b> after one
    day, Registered accounts may be reset <b>without notice</b> or migrated 
    into oblivion. Use the <b>download</b> function to save your lists.
    </em>
</p>

<p>
Try it: <b><a href="login/guest">Login as a Guest</a></b>
</p>

<h2>Working Features</h2>
<ul>
    <li>CLI and web interface</li>
    <li>Tasks: Create, Delete, Mark Done</li>
    <li>Tasks: filter by text (e.g. only tasks with "+work")
    <li>Import/Export: todo.txt format</li>
</ul>
</p>
<h2>Planned Features</h2>
<ul>
    <li>Tasks: Edit, set Dependencies, set Due Dates</li>
    <li>Tasks: visualization tools (e.g. Kanban)</li>
</ul>

<h2>GitHub</h2>
<a href="https://github.com/yashkir/yyt">https://github.com/yashkir/yyt</a>
