<!DOCTYPE html>
<html>
  <head>
    <link href="/css/tasks.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>YYT Tasks Dashboard</h1>
    Hello {{ name }} !
    <p>
      <a href="tasks/">See my Tasks</a>
    </p>
  </body>
</html>
