<h1>YYTasks</h1>
<p>
This is a task/goal manager built using SQLite and Node.js. The server
uses the Express framework with Handlebars for templating.
</p>
<p>
In the future I aim to provide easy import/export of todo.txt files and
visualization of your tasks.
</p>
<h2>Planned Features</h2>
<ul>
    <li>Use through the CLI or by running a server</li>
    <li>Tasks: Create, Delete, Mark Done</li>
    <li>Import/Export: todo.txt format</li>
</ul>
<p>
<a href="login/guest">Login as a Guest</a>
</p>
