<h1>YYTasks</h1>
<p>
This is a task/goal manager built using SQLite and Node.js. The server
uses the Express framework with Handlebars for templating.
</p>
<p>
In the future I aim to provide easy import/export of todo.txt files and
visualization of your tasks.
</p>
<p>
<a href="login/guest">Login as a Guest</a>
</p>
