h1 {
  font-family: sans-serif;
}

ul.tasks {
  list-style-type: none;
  margin: 5px 5px;
  padding: 0;
  border-style: solid;
  border-color: grey;
  border-radius: 2px;
  border-width: 1px;
  text-decoration: none;
}

a.checkmark {
  text-decoration: none;
}

li.done {
  color: darkgrey;
}
