h1 {
  font-family: sans-serif;
}

ul.tasks {
  list-style-type: none;
  margin: 5px 5px;
  padding: 0px 5px;
  border-style: solid;
  border-color: grey;
  border-radius: 2px;
  border-width: 1px;
  text-decoration: none;
}

li.done {
  color: darkgrey;
}

a.checkmark {
  font-size: 130%;
  color: black;
  text-decoration: none;
}

a.checkmark:hover {
  color: blue;
}

a.delete {
  color: darkgrey;
}

a.delete:hover {
  color: red;
}

